@model IEnumerable<OrdenCompra>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Fecha)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Estado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cantidad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Usuario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Producto)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Fecha)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Estado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cantidad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Usuario.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Producto.Nombre)
            </td>
            <td>
                @if (SignInManager.IsSignedIn(User) && (User.IsInRole("Administrador") || User.IsInRole("Vendedor")))
                {
                    @if (item.Estado.Equals(Estado.Created))
                    {
                        <a asp-action="Edit" asp-route-id="@item.ID" class="btn btn-primary">Cambiar Estado</a>
                    }

                    @if (item.Estado.Equals(Estado.Confirmed))
                    {
                        <a asp-action="Delete" asp-route-id="@item.ID" class="btn btn-danger">Delete</a>
                    }
                }
                <a asp-action="Details" asp-route-id="@item.ID" class="btn btn-primary">Details</a>
            </td>
        </tr>
}
    </tbody>
</table>
